<html>

<body>
    <h1>Category</h1>
    <form action="/category/{{.Category.Id}}" method="post">
        <label for="id">Id:</label>
        <input type="text" id="id" name="id" disabled value="{{.Category.Id}}"><br><br>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" value="{{.Category.Name}}"><br><br>
        <label for="type">Type</label>
        <select id="type" name="type">
            {{ range $type := .types }}
            <option value="{{ $type }}" {{ if eq $type $.Category.Type }}selected="selected" {{ end }}>{{ $type
                }}
            </option>
            {{ end }}
        </select><br><br>
        <input type="submit" value="Submit">
    </form>
</body>

</html>