<html>

<body>
    <h1>Category</h1>
    <form action="/category" method="post">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name"><br><br>
        <label for="type">Type</label>
        <select id="type" name="type">
            <option value="none">unknown</option>
            <option value="food">food</option>
            <option value="none_food">none food</option>
            <option value="alcohol">alcohol</option>
            <option value="none_alcohol">none alcohol</option>
        </select><br><br>
        <input type="submit" value="Submit">
    </form>
</body>

</html>