<html>

<body>
    <h1>Unit</h1>
    <form action="/dp/unit/{{.Unit.Id}}" method="post">
        <label for="id">Id:</label>
        <input type="text" id="id" name="id" disabled value="{{.Unit.Id}}"><br><br>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" value="{{.Unit.Name}}"><br><br>
        <label for="ean">EAN:</label>
        <input type="text" id="ean" name="ean" value="{{.Unit.EAN}}"><br><br>
        <label for="flavour">Flavour:</label>
        <input type="text" id="flavour" name="flavour" value="{{.Unit.Flavour}}"><br><br>
        <label for="category_name">Category:</label>
        <select id="category_name" name="category_name">
            {{range $catName, $catType := .categories}}
            <option value="{{$catName}}">{{$catName}} : {{$catType}}</option>
            {{end}}
        </select><br><br>

        <input type="submit" value="Submit">
    </form>
</body>

</html>